In [30]:
import pandas as pd
import sklearn.metrics as met

2. Given the following confusion matrix, evaluate (by hand) the model's performance.

In [2]:
# |               | pred dog   | pred cat   |
# |:------------  |-----------:|-----------:|
# | actual dog    |         46 |         7  |
# | actual cat    |         13 |         34 |

In [3]:
# Dog = 0
# Cat = 1
# Since it orders by number from smaller to larger

- In the context of this problem, what is a false positive?
- In the context of this problem, what is a false negative?
- How would you describe this model?

In [4]:
# False Positive : We predicted Cat, but it's a Dog
# False Negative: We predicted Dog, but it's a Cat.
# Stats for description:
TP = 34
TN = 46
FP = 7
FN = 13
accuracy = (TP + TN) / (TP + TN + FP + FN)
precision = (TP) / (TP + FP)
recall = (TP)/(TP + FN)
# ---
print("True Positive: ", TP)
print("True Negative: ", TN)
print("False Positive: ", FP)
print("False Negative: ", FN)
print("---------")
print("Accuracy is ", accuracy)
print("Precision is ", round(precision,2))
print("Recall is ", round(recall,2))

True Positive:  34
True Negative:  46
False Positive:  7
False Negative:  13
---------
Accuracy is  0.8
Precision is  0.83
Recall is  0.72

In [5]:
# Precision = Predictive positives.
# Recall = Real positives.

3. You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here (c3.csv).

Use the predictions dataset and pandas to help answer the following questions:

- An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?
- Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [6]:
df = pd.read_csv('c3.csv')

In [7]:
df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [8]:
df.info()
# No numerical values so .describe() is out.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   actual  200 non-null    object
 1   model1  200 non-null    object
 2   model2  200 non-null    object
 3   model3  200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB

In [13]:
df.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [14]:
# Oh, since we only worry about actual defects, it's the positive class and we can just work with that?
subset = df[df.actual == 'Defect']
subset

     actual     model1     model2     model3
13   Defect  No Defect     Defect     Defect
30   Defect     Defect  No Defect     Defect
65   Defect     Defect     Defect     Defect
70   Defect     Defect     Defect     Defect
74   Defect  No Defect  No Defect     Defect
87   Defect  No Defect     Defect     Defect
118  Defect  No Defect     Defect  No Defect
135  Defect     Defect  No Defect     Defect
140  Defect  No Defect     Defect     Defect
147  Defect     Defect  No Defect     Defect
163  Defect     Defect     Defect     Defect
171  Defect  No Defect     Defect     Defect
176  Defect  No Defect     Defect     Defect
186  Defect  No Defect  No Defect  No Defect
194  Defect     Defect  No Defect     Defect
196  Defect     Defect  No Defect  No Defect

In [ ]:
# Ah, Averages of accurate, so we can use .mean()

In [15]:
print(f"Model 1 Recall: {(subset.actual == subset.model1).mean()}")
print(f"Model 2 Recall: {(subset.actual == subset.model2).mean()}")
print(f"Model 3 Recall: {(subset.actual == subset.model3).mean()}")

Model 1 Recall: 0.5
Model 2 Recall: 0.5625
Model 3 Recall: 0.8125

In [ ]:
# Model 3 is by far more accurate at avoding false negatives. Allowing QC to identify ducks who need recall more accurately.

4. You are working as a data scientist for Gives You Paws â„¢, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

a. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

b. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? <s>For Phase II?</s>

c. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? <s>For Phase II?</s>

In [16]:
df = pd.read_csv('gives_you_paws.csv')

In [17]:
df.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   actual  5000 non-null   object
 1   model1  5000 non-null   object
 2   model2  5000 non-null   object
 3   model3  5000 non-null   object
 4   model4  5000 non-null   object
dtypes: object(5)
memory usage: 195.4+ KB

In [19]:
df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [20]:
# Setting the most common class as baseline, seems like that's doggo.
df['baseline'] = df.actual.value_counts().idxmax()

In [21]:
df.head(20)

   actual model1 model2 model3 model4 baseline
0     cat    cat    dog    cat    dog      dog
1     dog    dog    cat    cat    dog      dog
2     dog    cat    cat    cat    dog      dog
3     dog    dog    dog    cat    dog      dog
4     cat    cat    cat    dog    dog      dog
5     dog    dog    dog    dog    dog      dog
6     cat    cat    cat    cat    dog      dog
7     cat    dog    cat    cat    dog      dog
8     dog    dog    cat    dog    dog      dog
9     dog    cat    dog    cat    dog      dog
10    dog    dog    dog    dog    dog      dog
11    cat    cat    dog    cat    cat      dog
12    dog    dog    dog    cat    dog      dog
13    dog    cat    dog    dog    dog      dog
14    dog    dog    cat    cat    dog      dog
15    cat    cat    cat    cat    dog      dog
16    dog    dog    dog    cat    dog      dog
17    dog    dog    dog    dog    dog      dog
18    dog    dog    dog    cat    dog      dog
19    dog    dog    dog    dog    dog      dog

In [23]:
print(f"Baseline Accuracy: {round((df.actual == df.baseline).mean(),2)}")

Baseline Accuracy: 0.65

In [24]:
# I tried doing this... and it didn't work (I didn't have the model_acc = []), but here's a working one!
model_acc = []

for model in df.columns[1:]:
    acc = (df.actual == df[model]).mean()
    model_acc.append([model, acc])

model_acc

[['model1', 0.8074],
 ['model2', 0.6304],
 ['model3', 0.5096],
 ['model4', 0.7426],
 ['baseline', 0.6508]]

In [26]:
# We can make it pretty!
pd.DataFrame(model_acc, columns=['model', 'accuracy'])

      model  accuracy
0    model1    0.8074
1    model2    0.6304
2    model3    0.5096
3    model4    0.7426
4  baseline    0.6508

In [ ]:
# Model 1 and 3 preform above baseline so are viable.

In [ ]:
# Working with Doggo pictures so now Doggos are positive

In [27]:
model_pre = []

for model in df.columns[1:]:
    
    subset = df [df[model] == 'dog']
    
    precision = (subset.actual == subset[model]).mean()

    model_pre.append([model,precision])
    
pd.DataFrame(model_pre, columns=['model', 'precision'])

      model  precision
0    model1   0.890024
1    model2   0.893177
2    model3   0.659888
3    model4   0.731249
4  baseline   0.650800

In [ ]:
# Model 2 is slightly more precise, so it would be preferred.

In [28]:
# Now for Cattes
model_pre = []

for model in df.columns[1:]:
    
    subset = df [df[model] == 'cat']
    
    precision = (subset.actual == subset[model]).mean()

    model_pre.append([model,precision])
    
pd.DataFrame(model_pre, columns=['model', 'precision'])

      model  precision
0    model1   0.689772
1    model2   0.484122
2    model3   0.358347
3    model4   0.807229
4  baseline        NaN

In [ ]:
# Model 4 is a lot more precise, so it would be preferred.

5. Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

sklearn.metrics.accuracy_score

sklearn.metrics.precision_score

sklearn.metrics.recall_score

sklearn.metrics.classification_report

In [33]:
print(met.classification_report(df.actual,df.model1))

              precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000

In [44]:
print(met.recall_score(df.actual, df.model1, pos_label='cat'))

0.8150057273768614

In [45]:
print(met.precision_score(df.actual, df.model1, pos_label='cat'))

0.6897721764420747

In [47]:
print(met.accuracy_score(df.actual, df.model1))

0.8074